<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRXEWjBk99YZ1vEaNLFMX2GRXVvyPbbq4</string>
	<key>GCM_SENDER_ID</key>
	<string>879258330553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.col.inv11alli</string>
	<key>PROJECT_ID</key>
	<string>app236-b8d76</string>
	<key>STORAGE_BUCKET</key>
	<string>app236-b8d76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879258330553:ios:466490688977e2e3c0c268</string>
</dict>
</plist>